@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
body {
  @apply bg-gray-100 font-poppins;
  margin: 0;
}

/* custom classes */

/* .text-primary {
  color: var(--colors-primary);
}

.text-error {
  color: var(--colors-error);
} */

/* added tasks */
/* .task-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
} */

/* .task-details h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
  font-weight: bold;
} */

/* .task-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
} */

/* .task-details form {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #1aac83;
  padding: 6px;
  border-radius: 4px;
  color: #fff;
} */

/* form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
} */

/* div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
} */
